.btn {
  display: flex;
  justify-content: center;

  min-width: 155px;
  margin: 0;
  padding: 9px 15px 11px;

  text-transform: uppercase;
  text-align: center;

  color: $color-default-black;

  background-color: $color-transparent;
  border: 1px solid $color-default-black;
  border-radius: 3px;
  cursor: pointer;

  transition:
    color $trans-default,
    background-color $trans-default,
    border-color $trans-default;

  &--bright {
    color: $color-default-white;
    background-color: $color-carrot-orange;
    border-color: $color-carrot-orange;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-carrot-orange;
      border-color: $color-carrot-orange;
    }

    &--bright {
      &:hover,
      &:focus {
        background-color: $color-transparent;
      }
    }
  }

  @include vp-1199 {
    min-width: 130px;
    padding: 7px 11px 9px;

    font-size: 12px;
  }
}
